<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
    <div class="menu">
        <ul>
            <li>
                <%= link_to '#' do %>
					Contact<span class="arrow"></span>
				<%end%>
                <ul>
                    <li><a href="mailto:bilal.zerrik@gmail.com">Contacter par e-mail</a></li>
                </ul>
            </li>
			<li>
                <%= link_to 'Salam', '#'%>
            </li>
        </ul>
    </div>
	<div id="content">
		<div id="loader" style="display: none;"><span><img src="/assets/loading.gif" alt="chargement..."/></span></div>
			<%= yield %>
	</div>
</div>
</body>
</html>
